<html lang="nl">
<head>
    <style>
        div.title {
            margin-top: 100px;
            text-align: center;
            font-size: 64pt;
        }

        div.description {
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 100px;
            font-size: 64pt;
        }
    </style>
    <title></title>
</head>
<body>
<br>
<div class="title">Einde</div>
<div class="description">
    Veel plezier met de centjes die je onderweg verzameld hebt.
</div>

</body>
</html>
