<html>
<head>
    <style>
        div.title {
            margin-top: 100px;
            text-align: center;
            font-size: 64pt;
        }

        div.riddle {
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 100px;
            font-size: 64pt;
        }
    </style>
</head>
<body>
<br>
<div class="title">31UFS 67945 58642</div>
<div class="riddle">
    Ik ben zwart en woon in een berg.
    In de winter verlies meer vocht dan in de zomer.
    Het volgende spel kan je vinden onder mijn dikke buik.
</div>

</body>
</html>
