<html lang="nl">
<head>
    <style>
        div.title {
            margin-top: 100px;
            text-align: center;
            font-size: 64pt;
        }

        div.riddle {
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 100px;
            font-size: 64pt;
        }
        img {
            width: 800px;
        }
    </style>
    <title></title>
</head>
<body>
<br>
<div class="title">31UFS 37051 70542</div>
<div class="riddle">
    Niet in het rode gebied wandelen!<br><br>
    Breng mee:
    <ul>
        <li>Een schup(je) om<br>30 cm te graven</li>
        <li>Schoenen om door een klein bos te wandelen</li>
    </ul>
    Aanbevolen route
    <img alt="kaart" src="kaart.png">
    <img alt="route1" src="route1.png">
    <img alt="route2" src="route2.png">
    <img alt="route3" src="route3.png">
    <img alt="route4" src="route4.png">
    <img alt="route5" src="route5.png">
</div>

</body>
</html>
